<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    
    {% include sidebar.html %}

  
    
    <div class= "divider">
    <main class="content" aria-label="Content">
     
       <div class="wrapper">
        
        {{ content }}
        </div>
        
       
      
   

    
  
  
    
   </main>
   <div class="pmedia">
    <div class="pmedia">
      {% assign imgpath = page.path%}
      {% capture my_variable %}{{imgpath |remove: page.name}}{% endcapture %}
      
  
  
      {% include image-gallery.html folder=my_variable%}
    </div>
  </body>

</html>
